@import './base.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
